.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    background: url(../img/background.png) center;
    font-family: 'Roboto', sans-serif;   
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    width: 80vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: bold;    
    font-size: 40px;
}

.left-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 60%;
}

.left-form label {
    margin: 5px;
    font-weight: bold;
}

.items,.comments { 
    display: flex; 
    flex-direction: column;
    height: 70px;
    width: 75%;
    margin: 5px 10px 0 5px;
    margin-bottom: 30px;
}

.left-form input[type="text"] {
    border: none;
    margin: 4px 0 4px 0;
    height: 60px;
    background-color:transparent;    
    font-size: 13px;
    border-radius: 2px;
    padding: 10px;    
    border-bottom: 1px solid black;
}

.error {
    margin: 1px 0 0 5px;
    font-size: 10px;
    color: red;
}

.comments {
    display: flex;    
    align-items: center;
    width: 200px;
    height: 100px;
}

.comments textarea {
    background-color: transparent;
    border: none;    
    border-bottom: 1px solid;
    padding: 10px;
    resize: none;
    margin: 4px 0 10px 0;
}

.button-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-decoration: none;
    color: wheat;
    margin: 20px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

a button {
    text-decoration: none;
    color: wheat;
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: none;
}

@media (max-width: 720px) {
    .wrapper {
        height: auto;
        
    }

    .title {
        margin-bottom: 30px;
    }

    .right-form,.left-form{
        width: 80%;
    }

    .left-form h2 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .error {
        margin-top: 10px;
    }

    button {
        margin-top: 50px;
        margin-bottom: 15px;
        width: 150px;
    }
}
