body{
    background-image: url(/icon.jpeg);
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
#main{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    
}

#top{
    display: flex;
    width: 100%;
    height: 70%;
    
}

#bottom{
    display: flex;
    flex-direction: column;
    height: 20%;
}

#left,#right{
    display: flex;
    width: 10%;    
    background: #00aad4;
    border-radius: 0px 40px 0px 0px; /*top right bottom left */
}
#center{
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    background: #0088aa;
}
#left{
    border-radius: 40px 0px 0px 0px;
}
#up,#down{
    display: flex;
    width: 100%;
    height: 70%;
           
}

#up{
    background: #006680;
    height: 15%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 12.5%;  
    
}
.column:hover
{
    background:lightskyblue;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
}

#you,#ai{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;   
}
#ai{
    justify-content: flex-end;
}
#go{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 1px solid red;
}

.circle{
    display: flex;
    align-items: center;    
    background: crimson;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.red{
    background: yellow;
}